@font-face {
  font-family: 'Befolk';
  src: url('/fonts/Befolk Script/Befolk Script.otf') format('opentype'),
 url('/fonts/Befolk Script/Befolk Script.ttf') format('truetype');
}

@font-face {
  font-family: 'DecalotypeBold';
  src: url('/fonts/Decalotype/Decalotype-Bold.otf')  format('opentype'),
	     url('/fonts/Decalotype/Decalotype-Bold.woff') format('woff'), url('/fonts/Decalotype/Decalotype-Bold.ttf')  format('truetype');
}
