.primary-color { color: $primary-color !important; }
.primary-color-hover:hover { color: $primary-color !important; }
.primary-background { background-color: $primary-color !important; }
.accent-color { color: $accent-color !important; }
.accent-color-hover:hover { color: $accent-color !important; }
.accent-background { background-color: $accent-color !important; }

.primary-font { font-family: $primary-font; }
.secondary-font { font-family: $secondary-font; }

.text-center { text-align: center; }

.transition-container {
  min-height: 100vh;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  max-width: 85%;
  max-height: 80%;
  transform: translate(-50%, -50%);
  overflow: auto;
}
