// $primary: #00ff96;
$primary-color: #00E676;
$accent-color: #FF1744;

$primary-color: md-get-palette-color(pink, A200);
$accent-color: md-get-palette-color(yellow, A200);
$tertiary-color: md-get-palette-color(cyan, A200);

$primary-font: Befolk;
$secondary-font: DecalotypeBold;
