// $primary: #00ff96;
$primary-color: pink;
$accent-color: yellow;
$tertiary-color: cyan;

$primary-color: md-get-palette-color(pink, A200);
$accent-color: md-get-palette-color(yellow, A200);
$tertiary-color: md-get-palette-color(cyan, A200);

$primary-font: Befolk;
$secondary-font: DecalotypeBold;
