<div class="tab">
  <ul id="about" itemscope itemtype="https://schema.org/Blog">
      <li class="preview" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
        <p>
          To be honest, I hate to speak about myself, but here we are again. As everyone in their right mind, I love to travel around the world, to see what it has to offer and to meet different people and know their cultures. I love that sense of discovery when you go to (personally) unexplored places, which leads me to another of my interests: knowledge. Sounds silly, but whenever I have time, I use it to try and expand my knowledge in any field imaginable, just for the sake of it. Now this has come in handy when I code, especially because I can do two of my favourite things at once. My other interests all range in the field of entertainment, like music (rock ‘n’ roll anyone?), movies (mostly fantasy), TV series. Well, and I’m a huge videogamer. I love to lose myself into fictional worlds, being story-driven or heavily gameplay-centric, and I always like a challenge.

        </p>
      </li>
  </ul>
  <section class="profile">
    <div class="profile__card">
      <div class="profile__img">
        <figure class="absolute-bg" ><img src="{{ site.profile_img }}" alt="" /></figure>
        <!-- style="background-image: url('{{ site.profile_img }}');" -->
      </div>
      <div class="profile__container">
        <p>{{ site.profile }}</p>
        {% if site.email or site.social %}
          <ul class="profile__social">
            {% if site.email %}
              <li><a class="fa fa-lg fa-envelope-o" href="mailto:{{ site.email }}"></a></li>
            {% endif %}
            {% for social in site.social %}
              <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </section>
</div>
