<div class="tab">
  <ul id="about" itemscope itemtype="http://schema.org/Blog">
      <li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </li>
  </ul>
  <section class="profile">
    <div class="profile__card">
      <div class="profile__img">
        <figure class="absolute-bg" style="background-image: url('{{ site.profile_img }}');"></figure>
      </div>
      <div class="profile__container">
        <p>{{ site.profile }}</p>
        {% if site.email or site.social %}
          <ul class="profile__social">
            {% if site.email %}
              <li><a class="fa fa-lg fa-envelope-o" href="mailto:{{ site.email }}"></a></li>
            {% endif %}
            {% for social in site.social %}
              <li><a class="fa fa-lg fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </section>
</div>
